asgiref==3.2.5
certifi==2019.11.28
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cryptography==2.9
decorator==4.4.2
Django==3.1.12
django-cors-headers==3.2.1
django-evostream==0.1b2
dnspython==1.16.0
freeze==1.0.10
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.5.0
MarkupSafe==1.1.1
myenv==201902.7
mysqlclient==1.4.6
numpy==1.18.2
protobuf==3.6.1
pycparser==2.20
python-magic==0.4.15
pytz==2019.3
requests==2.23.0
six==1.14.0
soupsieve==2.0
sqlparse==0.3.1
urllib3==1.25.8
validators==0.14.2
Wand==0.5.9
Werkzeug==1.0.1
